td {
    border: 1px solid blue;
    padding: 20px;
    text-align: center;
}
table {
    background: lightblue;
    border-color: blue;
    border-collapse: collapse;
    border-top-style: solid;
    border-top-width: 5px;
    border-left-style: dashed;
    border-right-style: dashed;
    border-bottom-style: solid;
}
